<h4>add a new band: </h4>
<form  action="/band/new" method="post">

  <label for="band-name">this bands name: </label>
  <input type="test" name="band-name" id="band-name" >

  <button type="submit" id="band-btn">submit</button>
</form>
