<!DOCTYPE html>
<html>
 <head>
  <title>Band Tracker</title>
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>


		<div style="display: inline-block;"class="header-main headers">
				<h1>BAND TRACKER</h1>
        <p>the most rad</p>
		</div>

    #if($isError)
      <p class="error" style="color:red;"> invalid input </p>
    #end

    <div class="main-content">
      #parse( $template )
    </div>

 </body>
</html>
